body {
	color: #666769;
	background: #fff;
	font: 200 100%/2em sans-serif, arial;
	letter-spacing: 0.05em;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted #aaa;
}

    a:hover {
        color: #e2001a;
    }

h1 {
    color: #a6a8aa;
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

strong {
    color: #e2001a;
}

header {
    padding: 1em 0 0 1em;
    background: #eceded;
    border-radius: 1em;
    border-left: 1.5em solid #e2001a;
}

    header a {
        margin: 0 1em 0 0;
        border: none;
    }

    header img {
        padding: 0 1em;
    }

input, select {
    font-size: 1em;
    text-align: right;
}

    input:disabled {
        background: none;
        border: none;
    }

button {
    color: #fff;
    padding: 1em;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

    button.select {
        width: 100%;
        background: #a6a8aa;
        border-top: 3px solid #eceded;
    }

    button:hover {
		border-color: #e2001a;
	}

table {
    background: #eceded;
    border-collapse: collapse;
}

th {
    padding: 2em 0;
    font-weight: 600;
}

td {
    padding: 1em;
    border-bottom: 1px solid #fff;
}

    td button {
        background: #e2001a;
        border-radius: 1em;
    }

.container {
    padding: 2em 6em;
}

#welcome {
    margin: 2em 0;
    padding: 2em;
    background: #eceded;
}

#alert {
    color: #e2001a;
    background: #fff;
    border-top: 3px solid #e2001a;
    border-bottom: 3px solid #e2001a;
}

#visual {
    background: #fafafa;
    text-align: center;
}

footer {
	margin: 3em 0 0 0;
	padding: 1em;
	border-top: 1px solid #eceded;
}

/* animations */

.animate {
    -webkit-transition: .5s;
       -moz-transition: .5s;
            transition: .5s;
}

/* grid */

.row { margin: 0; padding: 2em; clear: both; }
.row:before, .row:after { content: ''; display: table; }
.row:after { clear: both; }
.row .col { margin: 1% 0 1% 2%; float: left; }
.row .col:first-child { margin-left: 0; }
.row .col.theme { background: #888; }

.x12 { width: 100%; }
.x11 { width: calc((100% - 2%) * (11 / 12)); }
.x10 { width: calc((100% - 2%) * (10 / 12)); }
.x9  { width: calc((100% - 2%) * (9 / 12));  }
.x8  { width: calc((100% - 2%) * (8 / 12));  }
.x7  { width: calc((100% - 2%) * (7 / 12));  }
.x6  { width: calc((100% - 2%) * (6 / 12));  }
.x5  { width: calc((100% - 2%) * (5 / 12));  }
.x4  { width: calc((100% - 2%) * (4 / 12));  }
.x3  { width: calc((100% - 2%) * (3 / 12));  }
.x2  { width: calc((100% - 2%) * (2 / 12));  }
.x1  { width: calc((100% - 2%) * (1 / 12));  }

@media only screen and (max-width: 640px) {
    body {
        font-size: 2em;
    }

    input {
        width: 70%;
        text-align: right;
    }

    header a {
        padding: 1em;
        display: block;
        text-align: center;
    }

    #visual {
        display: none;
    }

    .container {
        padding: 1em;
    }

    /* grid */

    .row { padding: 0 1em; }
    .row .col { margin: 1em 0; width: 100%; }
}